<template>
  <v-dialog v-model="dialog" persistent max-width="600px">
    <template v-slot:activator="{ on }">
      <v-btn color="primary" dark  v-on="on"  @click="showModal">Create user</v-btn>
    </template>
    <div>
      <v-form ref="form_create_update" v-model="valid" lazy-validation>
        <v-card>
          <v-card-title>
            <span class="headline">{{ createUser ? "New" : "Update" }} User Profile</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    label="Legal first name*"
                    v-model="firstName"
                    :rules="fieldRules"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    label="Legal last name*"
                    v-model="lastName"
                    :rules="fieldRules"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    v-model="username"
                    counter
                    :rules="usernameRules"
                    label="Username"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field v-model="email" :rules="emailRules" label="E-mail" required></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    v-model="password"
                    :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="[
                    passwordRules.required,
                    passwordRules.min,
                    passwordRules.containsSpChar
                  ]"
                    :type="show ? 'text' : 'password'"
                    name="input-10-1"
                    label="Password"
                    hint="At least 8 characters"
                    counter
                    @click:append="show = !show"
                  ></v-text-field>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="generatePass">Generate pass</v-btn>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-select
                    v-model="role"
                    :items="rolesArray"
                    label="Role*"
                    :rules="[v => !!v || 'Role is required']"
                    required
                  ></v-select>
                </v-col>
              </v-row>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="close">Close</v-btn>
            <v-btn
              text
              :disabled="!valid"
              color="success"
              class="mr-4"
              @click="validate"
            >{{ createUser ? "Save" : "Update" }}</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </div>
  </v-dialog>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import { sha256 } from "js-sha256";
export default Vue.extend({
  name: "Create",
  props: {
    userInfo: { type: Object },
    callbackFunc: { type: Function },
    closeFunc: { type: Function },
    showUpdateDialog:{ type:Boolean},
  },
  watch: {
        immediate: true,
        showUpdateDialog: function(newval, oldval) {
          console.log("watch")
          if(newval == true)
            this.showModal();
        }
  },
  data() {
    return {
      dialog:false,
      createUser: true,
      valid: false,
      firstName: "",
      lastName: "",
      fieldRules: [(v: string) => (v && v.length >= 1) || "Field is required"],
      username: "",
      usernameRules: [
        (v: string) => (v && v.length >= 1) || "Username is required",
        (v: string) =>
          (v && v.length >= 6) || "Username must be at least 6 characters"
      ],
      password: "",
      show: false,
      passwordRules: {
        required: (v: string) => (v && v.length >= 1) || "Required.",
        min: (v: string) => (v && v.length >= 8) || "Min 8 characters",
        containsSpChar: (v: string) => {
          let format = /[ !@#$%^&*()_+-=[\]{};':"\\|,.<>/?]/;
          return (
            (v && format.test(v)) ||
            "At least one special character is required"
          );
        }
      },
      email: "",
      emailRules: [
        v => (v && v.length >= 1) || "E-mail is required",
        v => {
          let format = /.+@.+/;
          return (v && format.test(v)) || "E-mail must be valid";
        }
      ],
      rolesArray: [
        "office_manager",
        "super_admin",
        "manager_uk",
        "receptionist",
        "dispatcher",
        "social_assist",
        "marketing",
        "dev",
        "model",
        "driver"
      ],
      role: ""
    };
  },
  methods: {
    validate(): void {
      if (this.$refs.form_create_update.validate()) {
        console.log("firstName", this.firstName);
        console.log("lastName", this.lastName);
        console.log("username", this.username);
        console.log("email", this.email);
        console.log("password", this.password);
        console.log("sha256 ", sha256(this.password));
        console.log("role", this.role);
        const userinfo = {
          firstName: this.firstName,
          lastName: this.lastName,
          username: this.username,
          email: this.email,
          password: this.password,
          role: this.role
        };
        this.callbackFunc((createUser? 'create' : 'update'),userinfo);
        this.$refs.form_create_update.reset();
        this.dialog = false;
      }
    },
    close(): void {
      this.closeFunc();
      this.createUser = true;
      this.$refs.form_create_update.reset();
      this.dialog = false;
    },
    generatePass(): void {
      const length = 8,
        charset =
          "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789",
        specChars = "@#$%^&*!";
      let genresult = "";
      for (var i = 0, n = charset.length; i < length; ++i) {
        genresult += charset.charAt(Math.floor(Math.random() * n));
      }
      genresult += specChars.charAt(
        Math.floor(Math.random() * specChars.length)
      );
      this.password = genresult;
    },
    showModal() {
      console.log("modal",this.createUser.username)
      if (Object.keys(this.userInfo).length === 0) {
        this.createUser = true;
      } else {
        alert("update"+this.createUser.firstName);
        this.createUser = false;
        this.firstName = this.createUser.firstName;
        this.lastName = this.createUser.lastName;
        this.username = this.createUser.username;
        this.email = this.createUser.email;
        this.password = this.createUser.password;
        this.role = this.createUser.role;
      }
      this.dialog=true;
    }
  },
  beforeMount() {}
});
</script>
