<template>
  <v-container class="text-xs-center">
    <v-card class="mx-auto my-12" max-width="374" style="margin:auto;">
      <v-img
        height="250"
        src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
        style="border-radius:300px; width:100px; height:100px; padding:5px;"
        class="center"
      ></v-img>
      <v-card-title>Login</v-card-title>
      <v-form ref="form" lazy-validation>
        <v-text-field
          v-model="username"
          label="Username"
          :rules="fieldRules"
          required
          class="fields"
        ></v-text-field>

        <v-text-field
          v-model="password"
          :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
          :type="show ? 'text' : 'password'"
          name="input-10-1"
          label="Password"
          :rules="fieldRules"
          @click:append="show = !show"
          class="fields"
        ></v-text-field>

        <v-btn
          color="success"
          class="mr-4"
          style="color:black; padding:10px; margin:10px;"
          @click="login"
        >
          Login
        </v-btn>
      </v-form>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import VueCookies from "vue-cookies";
Vue.use(VueCookies);
export default Vue.extend({
  name: "Main",
  data() {
    return {
      username: "",
      password: "",
      show: false,
      fieldRules: [(v: string) => !!v || "Field is required"]
    };
  },
  methods: {
    login(): void {
      let form: any = this.$refs.form;
      if (form.validate()) {
        alert("username " + this.username + "pass: " + this.password);

        this.$router.replace({ path: "main", query: { token: "123" } });
      }
    }
  },
  beforeMount() {
    if (Vue.$cookies.isKey("token")) {
      console.log("has token");
      this.$router.replace({ path: "main" });
    }
  }
});
</script>
