<template>
  <v-container>
    <v-card>
      <v-card-title>
        Users panel
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-account-search"
          label="Search"
          single-line
          hide-details
        >
        </v-text-field>
      </v-card-title>
      <v-card-actions>
        <div data-app>
            <Create :userInfo="usrInfo" :callbackFunc="callbackF" :showUpdateDialog="showDialog" :closeFunc="onClose" />
        </div>
      </v-card-actions>
      <v-list-item>
        <v-list-item-content>
          <v-data-table
            :headers="headers"
            :items="users"
            :items-per-page="100"
            item-key="id"
            :search="search"
            class="elevation-1"
            @click:row="handleRowClick"
          ></v-data-table>
        </v-list-item-content>
      </v-list-item>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import VueCookies from "vue-cookies";
import { Component } from "vue-property-decorator";
import Create from "./Create.vue";
import * as _ from "lodash";
Vue.use(VueCookies);
Vue.component("Create", Create);
export default Vue.extend({
  name: "Main",
  data() {
    return {
      search: "",
      show: false,
      headers: [
        {
          text: "First name",
          value: "firstName"
        },
        { text: "Last name", value: "lastName" },
        { text: "Username", value: "username" },
        { text: "Role", value: "role" }
      ],
      users: [
        {
          id: 1,
          firstName: "Test",
          lastName: "Test",
          username: "testusernam",
          role: "super_admin"
        },
        {
          id: 2,
          firstName: "BTest",
          lastName: "Test",
          username: "testusernamb",
          role: "super_admin"
        },
        {
          id: 3,
          firstName: "ATest",
          lastName: "Test",
          username: "testusernama",
          role: "super_admin"
        },
        {
          id: 4,
          firstName: "ZTest",
          lastName: "Test",
          username: "testusernama",
          role: "super_admin"
        },
        {
          id: 5,
          firstName: "CTest",
          lastName: "Test",
          username: "testusernama",
          role: "super_admin"
        }
      ],
      usrInfo:{},
      showDialog:false
    };
  },
  methods: {
      callbackF(type:string, user:any): void {
          console.log("closemodal");
          console.log(user);
          this.showDialog = false;
          this.usrInf={};
          if(type =='create'){
            this.users.push(user);
          } else{
              alert("update user");
          }
      },
      handleRowClick(value:any){
          console.log("value");
          console.log(value.username);
          this.showDialog = true;
          this.usrInfo = value
          this.show=false;
          this.show=true;
      },
      onClose(){
          alert("onclose");
          this.usrInfo={};
          this.show=false;
      }
  },
  beforeMount() {
    if (Vue.$cookies.isKey("token")) {
      console.log("here redirect");
    }
    this.token = this.$route.query.token;
    Vue.$cookies.set("token", this.token);
    this.$router.beforeEach((to, from, next) => {
      alert("beforeEach");
    });
  },
  beforeRouteLeave(to, from, next) {
    alert("beforeDestroy");
    Vue.$cookies.remove("token");
  }
});
</script>
